:root {
    --brand: #003366;
    --line: #999;
}

/* NAV */
nav {
    background-color: var(--brand);
    padding: 0.75rem 1rem;
}

nav a {
    color: white;
    padding: 0.5rem;
    display: block;
}

/* MAIN */
main {
    max-width: 900px;
    margin: 1rem auto;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid var(--line);
    padding: 0.5rem;
    box-shadow: 0 0 10px #ccc;
}

/* H1 */
h1 {
    color: var(--brand);
}

/* ASIDE */
aside {
    width: 300px;
    margin: 1rem auto;
    border: 1px solid var(--line);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

/* FOOTER */
footer {
    margin-top: 1rem;
    border-top: 2px solid var(--line);
    text-align: center;
}
